{% extends "admin/admin_layout.html" %}

{% block content %}
<h1>Presupuesto Municipal</h1>

<div class="card">

    <form method="POST">
        {{ form.hidden_tag() }}

        <label>Monto del presupuesto:</label>
        {{ form.monto_total(class="input") }}

        {% for error in form.monto_total.errors %}
        <p style="color:red;">{{ error }}</p>
        {% endfor %}

        <br><br>

        {{ form.submit(class="btn") }}
    </form>

    {% if presupuesto %}
    <hr>
    <h3>Último Presupuesto Registrado</h3>
    <p><strong>{{ presupuesto.monto_total }}</strong></p>
    <p>Fecha: {{ presupuesto.fecha_actualizacion }}</p>
    {% endif %}
</div>

{% endblock %}
