{% extends "admin/admin_layout.html" %}

{% block content %}
<h1>Matriz de Criticidad</h1>

<div class="card">

    <form method="POST">
        {{ form.hidden_tag() }}

        <label>Categoría:</label>
        {{ form.id_categoria(class="input") }}

        <label>Nivel de criticidad:</label>
        {{ form.id_criticidad(class="input") }}

        <label>Puntaje Total:</label>
        {{ form.puntaje_total(class="input") }}

        <br><br>
        {{ form.submit(class="btn") }}
    </form>
</div>

<hr>
<h3>Matrices Registradas</h3>

<ul>
{% for m in matrices %}
    <li>Categoria {{ m.id_categoria }} - Criticidad {{ m.id_criticidad }} → {{ m.puntaje_total }}</li>
{% endfor %}
</ul>

{% endblock %}
