{% extends "admin/admin_layout.html" %}

{% block content %}
<h1>Registrar Intervención</h1>

<div class="card">
    <form method="POST">
        {{ form.hidden_tag() }}

        <label>Reporte:</label>
        {{ form.id_reporte(class="input") }}

        <label>Prioridad:</label>
        {{ form.prioridad(class="input") }}

        <label>Estado:</label>
        {{ form.estado(class="input") }}

        <label>Fecha Programada:</label>
        {{ form.fecha_programada(class="input") }}

        <br><br>
        {{ form.submit(class="btn") }}
    </form>
</div>

{% endblock %}
